<header>

  <% if (user === undefined){ %>
    <!-- login and register option -->
    <form float="left" method="GET" action="/login">
        <input type="submit" value="LOGIN">
    </form>

    <form float="left" method="GET" action="/register">
      <input type="submit" value="REGISTER">
    </form>
  <% } else {%>

    <!-- display user email, and provide logout option -->
    <form method="POST" action="/logout">
      <li>
        <%= user.email %>  
        <input type="submit" value="LOGOUT">
      </li>
    </form>
  <% } %>
</heade>

