<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>

  <%- include partials/_header %>
  
  <!--display the entire URL database, link the shortURLs to redirect to its longURL-->
  <ul>
  <% for (let shortURL in urls){ %>
    <li>
      <a href='/u/<%= shortURL %>/'><%= shortURL %></a> 
        <%= `:  ${urls[shortURL]} ` %>
    </li>
  <% } %>
  </ul>



</body>
</html>
