<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body style="font-size:20px; padding:50px;">
  <%- include partials/_header %>

 
    <!-- new URL submission form -->
    <form action="/urls" method="POST" style="margin:150px;">
      <label for="longURL">Enter a URL:</label>
      <div>
      <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px"><input type="submit" value="Add URL">
      </div>
    </form>



</body>
</html>
